/* Blue Wrap */

#blue2 {
	background: #c8e6ff;
	padding-top: 130px;
    padding-bottom: 0px;
    text-transform: uppercase;
}

#blue2 h4 {
	color: #606060;
	font-weight: 500;
}

#blue2 p {
	color: #606060;
}