/* Blue Wrap */

@media only screen and (min-width: 415px) {

	#blue2 {
		background: #c8e6ff;
		padding-top: 80px;
		padding-bottom: 0px;
		text-transform: uppercase;
	}

	#blue2 h4 {
		color: #606060;
		font-weight: 500;
		position: absolute;
		left: 1%;
		bottom: 80%;
	}

	#blue2 p {
		color: #606060;
		font-size: 14px;
		position: relative;
		left: -36%;
		top: 30%;
		margin-bottom: 80px;
	}
}

@media only screen and (max-width: 414px) {

	#blue2 {
		background: #c8e6ff;
		padding-top: 100px;
		padding-bottom: 0px;
		text-transform: uppercase;
	}

	#blue2 h4 {
		color: #606060;
		font-weight: 500;
	}

	#blue2 p {
		color: #606060;
	}
}