* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Lato', sans-serif;   
    /* background: #535c68; */
  }

  #uploadListHeader{
    font-family: 'Lato', sans-serif;   
    /* font-size: 18px;  */
    /* margin-top: 50px; */
    letter-spacing: 1px; 
    text-align: center;
  }

  #uploadHeader{
    font-family: 'Lato', sans-serif;  
    letter-spacing: 1px; 
    text-align: center;
  }

  .uploadedList{
    font-family: 'Lato', sans-serif;   
    letter-spacing: 0.3px; 
    text-align: center;
    width: auto;
    margin: 30px;

  }

  .fileCard{
       background-color: #f6fbff;
       color: #343a40;
       width: 13rem;
       margin: 10px;
       margin-left: 40px;
       margin-bottom: 50px;
  }

  .cardHead{
    background-color: #587592;
    color: white;
    font-family: 'Lato', sans-serif;  
    font-size: 20px;
    font-weight: 800;
  }

  .cardCategory{
    font-family: 'Lato', sans-serif;  
    font-size: 16px;
    font-weight: 600;
    color: #343a40;
  }

  .groupbox{
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
  }

  .deletebtn1{
    border-radius: 10px;
    background-color: white;
    color: #95afc0;
    margin: 10px;
    /* position: sticky;
    left: 80%; */
    width: 80px;
    
  }

  .wrapperuploaded{
    /* margin: auto; */
    margin-top: 30px;
    width: auto;
    /* max-width: 640px; */
    padding-top: 60px;
    text-align: center;
    background-color: #f9f9f9;
    /* padding: 10px; */
    border-radius: 10px;
  }
  
  .wrapperupload {
    margin: auto;
    max-width: 640px;
    padding-top: 60px;
    text-align: center;
  }
  
  .containerupload{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    /*border: 0.5px solid rgba(130, 130, 130, 0.25);*/
    /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 
                0 0 0 1px rgba(0, 0, 0, 0.1);*/
  }
  
  h1 {
    color: #130f40;
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Lato', sans-serif;   
    letter-spacing: -.5px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  
  #upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
  }
  
  .border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    border-radius: 6px;
    padding: 20px;
  }
  
  .border-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.65;
  }
  
  #file-browser {
    text-decoration: none;
    color: rgb(62, 144, 211);
    border-bottom: 3px dotted rgba(62, 144, 211, 0.85);
  }
  
  #file-browser:hover {
    color: rgb(62, 144, 211);
    border-bottom: 3px dotted rgba(62, 144, 211, 0.85);
  }
  
  .icons {
    color: #95afc0;
    opacity: 0.55;
   
  }

  .uploadIcon {
      margin: 30px;
  }

  #file-upload {
      opacity: 0;
  }

  #findtext {
      letter-spacing: 1px;
  }

  #uploadinstructions{
    font-family: 'Lato', sans-serif;   
    font-size: 18px; 
    margin-top: 30px;
    letter-spacing: 0.3px;  
  }

  #uploadbtn {

    border-radius: 5px;
    /* background-color:  rgba(62, 144, 211, 0.85); */
    padding: 5px 10px 5px 10px;
    /* color: white; */
    font-family: 'Lato', sans-serif;   
    font-size: 16px;  
    letter-spacing: 1px;
    /* position: relative;
    right: 0%;
    top: 10%; */
  }

  #filenamedisplay{
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgb(62, 144, 211);
    /* margin-left: 0%;
    margin-top: 20%; */
    padding: 5px 10px 5px 10px;
    background-color: rgb(239, 239, 239);
    height: 38px;
    border-radius: 5px;
    font-weight: 700;

  }

  #filelabel {
    /* margin: 10px; */
    border-radius: 5px;
    font-family: 'Lato', sans-serif;  
    padding: 5px 10px 5px 10px;
    /* margin-right: 60%; */
    width: 200px;
    letter-spacing: 1px;
  }