body {
    font-weight: 800;
}

#navbartoggler {
    display: none;
}

#loginform {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#loginformheader{
    font-family: 'Lato', sans-serif;    
    font-weight: 700;
    font-size: 28px;
    margin-left: 8px;
}

#loginContainer {
    padding: 0px 10px 10px 10px;
    margin: 0px 20px 20px 20px;
    position: relative;
    top: 5%;
    left: 30%;
    letter-spacing: 1px;
    
}

#usernamelabel {
    margin-right: 10px;
    font-family: 'Lato', sans-serif;    
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5;
}

#passwordlabel {
    margin-right: 10px;
    font-family: 'Lato', sans-serif;    
    font-weight: 500;
    font-size: 20px;
    margin-right: 15px;
    letter-spacing: 0.5;
}

.forminput {
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
}

#loginbtn{
    font-family: 'Kaushan Script', cursive;
    font-size: 19px;
    border-radius: 5px;
    background-color: #c8e6ff;
    padding: 10px 5px 10px 0px;
    width: 150px;
    position: absolute;
    bottom: -25%;
    left: 10%;
}

#loginlogo{
    padding-left: 10px;
}

#signuplink {
    margin: 10px 10px 10px -6px;

}