/* Blue Wrap */

#blue1 {
	background: #3498db;
	padding-top: 130px;
    padding-bottom: 0px;
    text-transform: uppercase;
}

#blue1 h4 {
	color: white;
	font-weight: 500;
}

#blue1 p {
	color: white;
}